.quiz-menu-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: auto;
    margin-top: 5em;
    grid-template-columns: auto auto auto;
}

.quiz-menu-item{
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}

.quiz-btn {
    cursor:pointer;
    border: none;
    width: 20em;
    height: 20em;
    background: url('Graphics/CitiesNormal.png');
    background-size: contain;
    transition: background-image 0.3s ease, transform 0.3s ease;
    margin-right: 8em;
    margin-left: 8em;
}

.quiz-caption{
    color: #ffd700;
    font-size: 2.0em;
    font-family: 'HeaderFont';
    text-align: center;
    margin-bottom: 0.8em;
    pointer-events: none;
}